/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  height: 100%;
}

html {
  height: 100%;
  overflow-x: hidden;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.store-title {
  position: relative;
}

.card {
  width: 80% !important;
  margin: 20px;
}

.fredoka-one { 
  font-family: 'Fredoka One', cursive;
  font-size: 3.3em;
}

.fredoka-one.goals {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
}

.fredoka-one.currency {
  font-size: 2.5em;
}

.home-picture {
  width: 18.75em; 
  height: 18.75em; 
  background-color: lightcoral;
}

.score-card {
  width: 40em;
  height: 18.75em;
  background-color: lightgrey;
}

#neighbors-page {
  background-color: #f8f8f5;
  height: 100%;
}

.title {
  font-size: xxx-large;
}

#leader-carousel {
  width:640px;
  height:500px;
  background-color: darkseagreen;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

.center-block {
  position: absolute;
  top: 25%;
  left: 55%;
}

/*--------------------
Body
--------------------*/
.leader-body {
  min-height: 480px;
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 285px;
  height: 353px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.leaderboard small {
  color: black;
}

.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
}

.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;

}

.leaderboard ol {
  counter-reset: leaderboard;
  list-style: none;
}

/*---------------------------------*/

.leaderboard ul {
  margin-bottom: 0;
  list-style: none;
}

.leaderboard ul li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  border-radius: 5px 5px 0px 0px;
}

.leaderboard ul li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #000000;
}

.leaderboard ul li mark::before,
.leaderboard ul li mark::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #29C979;
  border-left: 10px solid transparent;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.leaderboard ul li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}

.leaderboard ul li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

.leaderboard ul li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #93E9BE;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  border-radius: 5px 5px 0px 0px;

}

.leaderboard ul li:nth-child(1) {
  background: #93E9BE;
}

.leaderboard ul li:hover {
  z-index: 2;
  overflow: visible;
}

.leaderboard ul li:hover::after {
  opacity: 1;
  transform: scaleX(1.06) scaleY(1.03);
}

.leaderboard ul li:hover mark::before,
.leaderboard ul li:hover mark::after {
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

/*---------------------------------------------*/

.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #214600;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #000000;
}

.leaderboard ol li mark::before,
.leaderboard ol li mark::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #21A362;
  border-left: 10px solid transparent;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.leaderboard ol li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}

.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

.leaderboard ol li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.leaderboard ol li:nth-child(1) {
  background: #6DE1A7;
}

.leaderboard ol li:nth-child(1)::after {
  background: #6DE1A7;
}

.leaderboard ol li:nth-child(2) {
  background: #47D990;
}

.leaderboard ol li:nth-child(2)::after {
  background: #47D990;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}

.leaderboard ol li:nth-child(2) mark::before,
.leaderboard ol li:nth-child(2) mark::after {
  border-top: 6px solid #197D4B;
  bottom: -7px;
}

.leaderboard ol li:nth-child(3) {
  background: #29C979;
}

.leaderboard ol li:nth-child(3)::after {
  background: #29C979;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}

.leaderboard ol li:nth-child(3) mark::before,
.leaderboard ol li:nth-child(3) mark::after {
  border-top: 2px solid #197D4B;
  bottom: -3px;
}

.leaderboard ol li:nth-child(4) {
  background: #21A362;
}

.leaderboard ol li:nth-child(4)::after {
  background: #21A362;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(4) mark::before,
.leaderboard ol li:nth-child(4) mark::after {
  top: -7px;
  bottom: auto;
  border-top: none;
  border-bottom: 6px solid #125734;
}

.leaderboard ol li:nth-child(5) {
  background: #197D4B;
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(5)::after {
  background: #197D4B;
  box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}

.leaderboard ol li:nth-child(5) mark::before,
.leaderboard ol li:nth-child(5) mark::after {
  top: -9px;
  bottom: auto;
  border-top: none;
  border-bottom: 8px solid #125734;
}

.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
}

.leaderboard ol li:hover::after {
  opacity: 1;
  transform: scaleX(1.06) scaleY(1.03);
}

.leaderboard ol li:hover mark::before,
.leaderboard ol li:hover mark::after {
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}

.the-most img {
  max-width: 100%;
}

.homeButtons {
  width: 35%;
  height: 150%;
}



/* Ribbon */
.ribbon-body {
  margin-bottom: 0;
}
#top,
#bottom {
  box-sizing: border-box;
  padding: 20px 0;
  min-height: 20vh;
}
#top {
  background: url(http://portfolio.queenofwhisks.com/demo/overlay/border-bottom-triangle-edge.png) repeat-x center bottom, hsl(180, 40%, 80%) url(http://portfolio.queenofwhisks.com/demo/overlay/canvas.png);
}
#bottom {
  background: #fff url(http://portfolio.queenofwhisks.com/demo/overlay/stripe-diagonal-broken.png);
}

.ribbon-container {
  background: transparent !important;
  position: relative;
  z-index: 1;
  margin-right: 0em;
}
.ribbon {
  background: hsl(30, 90%, 65%) url(http://portfolio.queenofwhisks.com/demo/overlay/noise.png);
  box-shadow: 2px 6px 12px rgba(0,0,0,0.5);
  font-family: Charter, serif;
  font-size: 16px;
  line-height: 1.0;
  text-align: center;
  margin: 0 auto;
  padding: 0.25em 0;
  position: relative;
  width: 70%;
}
.ribbon:before,
.ribbon:after {
  border: 1.5em solid hsl(30, 82%, 62%);
  content: '';
  display: block;
  position: absolute;
  bottom: -1em;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}
.ribbon-content {
  border-top: 0.0625em dashed hsl(30, 90%, 44%);
  border-bottom: 0.0625em dashed hsl(30, 90%, 44%);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.08), inset 0px -1px 1px rgba(255,255,255,0.08), 0px -1px 1px rgba(255,255,255,0.2), 0px 1px 1px rgba(0,0,0,0.08);
  display: block;
  padding: 0.6875em 0;
}
.ribbon-content:before,
.ribbon-content:after {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
  border-color: hsl(30, 80%, 40%) transparent transparent transparent;
  bottom: -1em;
}
.ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon a {
  color: hsl(30, 90%, 40%);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
}
.ribbon a:hover {
  color: hsl(30, 90%, 43%);
}
.underpage {
  background: #f4f4f4 url(http://portfolio.queenofwhisks.com/demo/overlay/noise-paper.png);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
  box-sizing: border-box;
  color: #444;
  font-family: Garamond, 'Goudy Old Style', Times, 'Times New Roman', serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 4.5em 1.5em 1.5em;
  position: relative;
  top: -4em;
  width: 65%;
  z-index: -1;
}
.underpage p:last-child {
  margin-bottom: 0;
}
